.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a1ccd1;
}

.logo {
  width: 7rem;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.nav-icon {
  width: 7rem;
}
.nav ul {
  list-style: none;
  display: flex;
  border-radius: 7px;
  padding: 0.8rem;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  font-size: 0.8rem;
}

.nav a:active,
.nav a:hover {
  background-color: #e0950b42;
}

.nav a:global(.active) {
  background-color: #a1ccd1;
}

@media screen and (max-width: 1000px) {
  .nav ul {
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .header {
    justify-content: center;
  }
}
