.logo {
  width: 4rem;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.nav a:global(.active) {
  background-color: rgb(246, 247, 247);
  background-color: #e9b384;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 5rem;
  }
}
